.Home {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(#F8F9FA,#E9ECEF);
    justify-content: space-evenly;
}
.Home__text {
    height:fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    margin-top: 25vh;
    color: #212529;
    overflow: scroll;
    scrollbar-width: none;
}

.Home__textHeading {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: 100;
    font-size: 72px;
}
.Home__textParagraph {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: 100;
    font-size: 64px;
    line-height: 120px;
}
@media (max-width: 48rem) {
    .Home__textHeading {
        font-size: 48px;
    }
    .Home__textParagraph {
        font-size: 36px;
        line-height: 60px !important;
    }
}
@media (max-width: 67.5rem) {
    .Home__text {
        width: 80%;
    }
    .Home__textParagraph {
        line-height: 80px;
    }
}
.hand {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}